{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    "@babel/preset-env"
  ], 
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@redux": "./src/redux",
          "@screens": "./src/screens",
          "@navigation": "./src/navigation",
          "@components": "./src/components"
        }
      }
    ]
  ]
}
