{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    "@babel/preset-env"
  ], 
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@redux": "./src/redux",
          "@pages": "./src/pages",
          "@navigation": "./src/navigation",
          "@components": "./src/components",
          "@config": "./src/config",
          "@constants": "./src/constants",
          "@services": "./src/services"
        }
      }
    ]
  ]
}
